.guest-book-form-container
  .guest-book-form
    = semantic_form_for @guest_book_entry do |f|
      = f.input :title
      = f.input :body
      = f.input :guest_name
      = f.input :guest_email, :label=> "Your email won't be displayed. Just in case we want to get in touch with friends of Peter."
      = f.actions