.container
  .main-wrapper
    .guest-book
      = render :partial => "components/guest_book_header", :locals=>{:link_types=>"authoring", :thank_you=> false}
      .guest-book-entry-authoring-container{:data=>{:controller=>'guest', :guest_peters_last_name_value=>'koper', :guest_hide_class=>'hidden', :guest_touched_class=>'not-touched'}}
        .challenge-wrapper{:data=>{:guest=>{:target=>'question'}}}
          .challenge-wrapper-header
            %h3
              Would you be so kind as to prove your sentience?
          .challenge-wrapper-form
            %form{:id=> 'challengeForm'}
              %label.challenge-label{:for=>'challenge'}
                Enter Peter's last name:
              %input.challenge-input.not-touched{:type=>'text', :name=> 'challenge', :data=>{:action=> 'keypress->guest#checkKey', :guest=>{:target=>'lastname'}}}
              %a.challenge-submit{:as=>'button',:id=>'challengeButton',:data=>{:action=>'click->guest#check'}}
                Submit
          .warning.hidden{:id=>'challengeWarning',:data=>{:guest=>{:target=>'warning'}}}
            Please check your spelling, that's incorrect.
        .show-hide-form-wrapper.hidden{:data=>{:guest=>{:target=>'form'}}}
          .guest-book-form-container
            %p{:id=>'formContainerText'}
              Add an entry to Peter's Guest Book.
            .guest-book-form
              = semantic_form_for @guest_book_entry do |f|
                = f.semantic_errors *f.object.errors.attribute_names
                = f.input :title
                = f.text_area :body, :class => "tinymce", :rows => 140, :cols => 120
                = f.input :guest_name, :class=>'guest-name'
                = f.input :guest_email, :label=> "Email"
                %p.form-inner-text
                  Your email won't be displayed. Collected in case we want to get in touch with friends of Peter. You are an elusive bunch.
                = f.input :admin_state, as: :hidden, :value => :submitted
                = f.input :memory_id, as: :hidden, :input_html => { :value => params[:memory_id] }
                = f.input :image_one_url, as: :file, :label=> 'Image one.'
                = f.input :image_two_url, as: :file, :label=> 'Image two.'
                = f.input :image_three_url, as: :file, :label=> 'Image three.'
                = f.input :image_one_url_cache, :as => :hidden
                = f.input :image_two_url_cache, :as => :hidden
                = f.input :image_three_url_cache, :as => :hidden
                = f.actions :data=> {:turbo=> false}
          = tinymce