.memory-text-container
  -if memory.show_title
    %h2.memory-title
      =memory.title
  - if memory.body.length >= 1
    %p.memory-body
      = (memory.body).try(:html_safe)
  -if categories
    - cat_index = 0
    %h4.memory-categories
      -categories.each do |c|
        - cat_index+=1
        %span.memory-category
          = link_to comma_pal(c.name, categories.length, cat_index), category_path(c)
  - if tags
    - tag_index = 0
    %ul.memory-tags
      - tags.each do |t|
        - tag_index +=1
        %span.memory-tag
          -if category_ref
            -if sub_category_ref
              = link_to comma_pal(t.name, tags.length, tag_index), tag_path(t, :category_ref=> category_ref, :sub_category_ref=> sub_category_ref)
            -else
              = link_to comma_pal(t.name, tags.length, tag_index), tag_path(t, :category_ref=> category_ref)
          -else
            = link_to comma_pal(t.name, tags.length, tag_index), tag_path(t)
  - if memory.fuzzy_date != :no_show
    .memory-date
      = display_fuzzy_date(memory.occurrence, memory.fuzzy_date, false)
  .memory-comment-container
    - if comment_link
      - memory.memory_comments.each do |comment|
        = render :partial=> "components/memory_comment", :locals=> {:memory_comment=> comment, :preview_mode=> !comment_link }
      .memory-comment-link-container
        .memory-comment-icon
          = fa_icon "comment"
        .memory-comment-link
        - if category_ref
          = link_to "Read", memory_path(memory, :category_ref=> category_ref)
          - if sub_category_ref
            = link_to "Read", memory_path(memory, :category_ref=> category_ref, :sub_category_ref=> sub_category_ref)
        -else
          = link_to "Read", memory_path(memory)
    - else
      - memory.memory_comments.each do |comment|
        = render :partial=> "components/memory_comment", :locals=> {:memory_comment=> comment, :preview_mode=> !comment_link }
      = turbo_frame_tag "memory_comment_new", src: new_memory_comment_url(:memory_id=> memory.id)