= turbo_frame_tag "memory_comment_new" do
  = semantic_form_for @memory_comment do |f|
    = f.semantic_errors *f.object.errors.attribute_names
    = f.input :author_name, :required=> true
    = f.input :author_email, :required=> true
    = f.input :memory_id, :input_html => { :value => params[:memory_id] }, :as=> :hidden
    = f.text_area :body, :class => "tinymce", :rows => 20, :cols => 120, :required=> true
    = f.actions do
      = f.action :submit, :label=> "Add your comment"
  = tinymce