.container
  .main-wrapper
    = render :partial=> "components/stream-heading", :locals=>{}
    .breadcrumb-wrapper
      = render :partial => "components/breadcrumbs"
    .stream-page-heading.tag-header
      .ornamental.ornamental-left
        = image_tag "border_ornament-left.png", role: "presentation", class: "ornament"
      .heading-text.tag-header-text
        %h1
          = @tag.name
      .ornamental.ornamental-right
        = image_tag "border_ornament-right.png", role: "presentation", class: "ornament"
    %main
      - if @memories
        .stream-container
          - @memories.each do |m|
            = render :partial=> "components/memory", :locals=> {:memory=> m,
                                                                :tags=> m.tags,
                                                                :categories=> m.categories,
                                                                :category_ref=> @category_ref,
                                                                :sub_category_ref=> @sub_category_ref}