-@memory = memory
-@tags = tags

.memory-container
  = @memory.title
  = @memory.body
  %img{:src=> @memory.image}
  = @memory.occurrence.to_s
  = @memory.fuzzy_date
  - @tags.each do |t|
    = t.name
