-@memory = memory
-@tags = tags
-@categories = categories

.memory-container{:data=>{
                          :controller=>"stream",
                          :stream=>{:target=>"url"},
                          :url=>stream_nav_path,
                          :action=>"mouseover->stream#set"
                        }}
  %div{:id=> "memory-card_"+@memory.id.to_s, :data=>{:stream=>{:target=>"id"}}}
    - if !@memory.video
      .memory-image-container.loading{:style=> 'background-image: url('+ @memory.image.to_s+');'}
    -else
      .memory-video-container.loading.still-dulled{:style=> 'background-image: url('+ @memory.image.to_s+');',
                                                    :data=>{
                                                      :action=>"click->stream#showplyr",
                                                      :stream=>{:target=>"videoPlayerInfo"},
                                                      :video=>{:file=>{:id=>video_id(@memory.video.file)},:id=> @memory.video.id.to_s},
                                                      :modal=>{:id=>"modal_#{@memory.id.to_s}"},
                                                      :micromodal=>{:trigger=>"modal_#{@memory.id.to_s}"}
                                                    }}
        .memory-video-overlay
          %i.overlay-hidden
            .fas.fa-circle-play
        = render :partial => "components/video_modal", :locals=>{:modal_id=> "modal_#{@memory.id.to_s}",
                                                                 :modal_title=> @memory.title,
                                                                 :video_player_id=>"video_player_#{@memory.video.id.to_s}",
                                                                 :video_file_id=> video_id(@memory.video.file)}
    .memory-text-container
      %h3.memory-date
        = display_fuzzy_date(@memory.occurrence, @memory.fuzzy_date)
      %h2.memory-title
        =@memory.title
      %h4.memory-categories
        -@categories.each do |c|
          %span.memory-category
            = link_to c.name, stream_path(:remembering=> c.id), {:data=>{:action=>'click->stream#rescroll'}}
      %p.memory-body
        = (@memory.body).try(:html_safe)
      %ul.memory-tags
        - @tags.each do |t|
          %span.memory-tag
            = link_to t.name, stream_path(:pondering=> t.id), {:data=>{:action=>'click->stream#rescroll'}}