= turbo_frame_tag "stream_nav" do
  - if MemoriesController.category_stream
    .categories-nav
      - if !MemoriesController.current_category_id and !@stream_name
        .category-nav.on
          All
      - else
        .category-nav
          = link_to "All", stream_path(:reset=> true), {:data=>{:action=>'click->stream#rescroll'}}
      - MemoriesController.category_stream.each do |c|
        - if c.display_state == :hinted
          .category-nav.hinted
            = link_to c.name, stream_path(:remembering=> c.id), {:data=>{:action=>'click->stream#rescroll'}}
        - elsif c.display_state == :on
          .category-nav.on
            =  c.name
        - else
          .category-nav
            = link_to c.name, stream_path(:remembering=> c.id), {:data=>{:action=>'click->stream#rescroll'}}
  - if MemoriesController.tag_stream
    %hr
    .tags-nav
      - MemoriesController.tag_stream.each do |t|
        - if t.display_state == :selected
          .tag-nav.selected
            = t.name
        - elsif t.display_state == :hinted
          .tag-nav.hinted
            = link_to t.name, stream_path(:pondering=> t.id), {:data=>{:action=>'click->stream#rescroll'}}
        - elsif t.display_state == :on
          .tag-nav.on
          = link_to t.name, stream_path(:pondering=> t.id), {:data=>{:action=>'click->stream#rescroll'}}
