.container
  .main-wrapper
    = render :partial=> "components/stream-heading", :locals=>{}
    .breadcrumb-wrapper
      = render :partial => "components/breadcrumbs"
    .thank-you
      %h1.big-thanks
        Thanks!
      .thanks-text
        %p
          Your submission will be reviewed and added to the collection shortly. If you have any questions, please feel free to
          = succeed '.' do
            = mail_to "hello@peterkoper.com", "contact us", encode: "hex"
          In the meantime,
          = link_to "please try another stroll", root_path
          with our Flanuer.