!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Peter Koper
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src=>"https://documentcloud.adobe.com/view-sdk/main.js"}
    %script{:src=>"https://www.googletagmanager.com/gtag/js?id=G-60J1NPVYXJ", :async=> true}
    %amp-iframe{src: "https://www.cognitoforms.com/f/IaXDixMwUk-vn6a9Op8PTg/2", layout: "responsive", resizable: "", frameborder: "0", scrolling: "yes", height: "687", width: "800", sandbox: "allow-scripts allow-same-origin allow-popups"}
      %div{overflow: ""}
      %div{placeholder: ""}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){
        dataLayer.push(arguments);
        }
        gtag('js', new Date());
      gtag('config', 'G-60J1NPVYXJ');
    =tinymce_assets
  %body{:id=>"flanuerBody"}
    = render :partial=> "components/mobile_menu", :locals=> {:current=> @current ? @current : nil}
    = yield
